@use "variables" as *;

// マークダウンからHTMLへ変換された要素の基本スタイルを記述.
.md {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  p,
  ul,
  ol,
  blockquote,
  hr,
  pre {
    margin: 0.5rem 0;
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 3px solid $color-gray;

    & & {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $color-gray;
  }

  code {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba($color-gray, 0.2);
  }

  pre {
    padding: 0.3rem 0.5rem;
    overflow-x: auto;
    border-radius: 0.25rem;
    background-color: rgba($color-gray, 0.2);

    code {
      display: inline;
      padding: 0;
      background-color: transparent;
    }
  }
}
